// * {
//   box-sizing: border-box;
// }

.form {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #222b3c;

  .title {
    font-size: xx-large;
    margin-bottom: 20px;
    color: #2980b9;
    text-align: center;
    font-weight: bold;
  }

  form {
    width: 350px;

    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    /* Styles for the form fields and labels */
    div {
      margin-bottom: 15px;
    }

    label {
      display: block;
      font-weight: bold;
    }

  .password {
      .input {
        width: 100%;
        padding: 0px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        position: relative;

        input {
          border: none;
        }

        .password-toggle {
          text-align: center;
          padding: 5px;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }

    /* Styles for error messages */
    span {
      color: #e74c3c;
      font-size: 14px;
      margin-top: 5px;
      display: block;
    }

    /* Styles for the submit button */
    button {
      background-color: #3498db;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #2980b9;
      }

     
    }

     .go-login{
        margin-top: 15px;
        font-size: 15px;
      }
  }
}
