
.form {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  /* Styles for the form fields and labels */
  div {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  /* Styles for error messages */
  span {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 5px;
    display: block;
  }

    .password-input {
      position: relative;

      .password-toggle {
        display: flex;
        justify-content: center;
        align-items: center ;
        height: 100%;
        padding: 5px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  

  /* Styles for the submit button */
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;


    &:hover {
      background-color: #2980b9;
    }
  }

  .forgot-password{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    font-size: medium;
    text-decoration: underline;
  }

 
}
