@import "../../styles/variables.scss";



.topBox{
    h1{
        margin-bottom: 20px;
    }

    .list{
        display: flex;
        flex-direction: column;
        gap: 30px;

        .listItem{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 8px;
            
            margin-bottom: 30px;

            &:hover{ background-color: $soft-bg};

            .user{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                img{
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }

                .userText{
          
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    
                    .username{
                        font-size: 14px;
                        font-weight: 400;
                    }

                     .email{
                        font-size: 14px;
                        font-weight: 300;
                    }

                }
            }

            .amout{
                
            }
        }
    }
}